<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.js.oldmarket">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 基础模块（必须加入以下声明）START -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 基础模块 END -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="医患交流平台"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.konwledge.KnowLedgeActivity"
                  android:label="健康知识"/>
        <activity android:name=".ui.WebviewActivity"
                  android:label="web页面"/>
        <activity android:name=".ui.communice.CommuniceActivity"
                  android:label="问答"/>
        <activity android:name=".ui.login.LoginActivity"
            android:label="登录"/>
        <activity android:name=".ui.RegisterActivity"
            android:label="注册"/>
        <activity android:name=".ui.BaseActivity"
            android:label="base页面"/>
        <activity android:name=".ui.answer.AnswerActivity"
                  android:label="答案"/>
        <activity
            android:name=".ui.AssortmentActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ui.publish.PublishActivity"
            android:label="发布商品"/>
        <activity android:name=".ui.VersionActivity"
            android:label="版本"/>
        <activity android:name=".ui.RecoveryPasswordActivity"
            android:label="找回密码"/>
        <activity android:name=".ui.AboutMyActivity"
            android:label="关于我们"/>
        <activity android:name=".ui.AgreementActivity"
            android:label="用户协议"/>
        <activity android:name=".ui.AccountEditPasswordActivity"
            android:label="修改密码"/>
        <activity
            android:name=".ui.ReplyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.chat.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.order.AllOrderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.FinishOrderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.DoingOrderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ReleaseGoodActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.CollectGoodActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.MessageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SubmitOrderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ConfirmOrderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.leavewords.LeaveWordsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.AccountActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.AccountEditActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.test" />
        <activity android:name=".tets.d"></activity>


        <!-- leancloud实时通信模块、推送（若使用该功能，需添加以下声明）START -->
        <!--<service android:name="com.avos.avoscloud.PushService"/>-->
        <!--<receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED"/>-->
                <!--<action android:name="android.intent.action.USER_PRESENT"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!-- leancloud实时通信模块、推送 END -->

        <!--选择相册 START-->
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name="me.nereo.multi_image_selector.PreviewPhotoActivity" />
        <!--选择相册 END-->


        <!--&lt;!&ndash;友盟分享模块 START&ndash;&gt;-->
        <!--<activity-->
            <!--android:name="com.umeng.socialize.editorpage.ShareActivity"-->
            <!--android:theme="@style/Theme.UMDefault"-->
            <!--android:excludeFromRecents="true"/>-->
        <!--<meta-data-->
            <!--android:name="UMENG_APPKEY"-->
            <!--android:value="5741a04fe0f55ad5b4002abc" >-->
        <!--</meta-data>-->
        <!--<activity-->
            <!--android:name="com.js.oldmarket.share.wxapi.WXEntryActivity"-->
            <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
            <!--android:exported="true"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <!--<activity-->
            <!--android:name="com.tencent.tauth.AuthActivity"-->
            <!--android:launchMode="singleTask"-->
            <!--android:noHistory="true" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--<data android:scheme="tencent100424468" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name="com.tencent.connect.common.AssistActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <!--&lt;!&ndash;友盟分享模块 END&ndash;&gt;-->
        <!--mob分享 START-->
        <activity android:name=".share.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1104646053"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!--mob分享 END-->
    </application>

</manifest>